<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>
<p></p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="myModalLabel">
        	<h4 class="text-center">Add this Item</h4>
        	<h5 class="text-center"><%= @product.name %></h5>
        	<p class="saved text-center">Saved</p>
        </div>
      </div>
      <div class="modal-body">
        <%= form_for @product, remote: true do |f| %>
			<div class="form-group">
			    <%= hidden_field_tag "product[collection_ids][]", nil %>
			    <div id="coll-render">
				    <%= render 'collections/coll' %>
			    </div>
			</div>
		<% end %>
		<%= form_for @coll, remote:true do |f| %>
			<div class="form-group">
				<%= f.text_field :name, class: "form-control", placeholder: "create collection name", label: false %>
			</div>
			<%= f.submit "save" %>
		<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document)	.ready(function(){
	$('.saved').fadeOut();
	<% current_user.collections.each do |collection| %>
		$('#collection_<%= collection.id %>').click(function(){
			$(this).parents('form:first').submit();
			$('.saved').fadeIn().delay(800).fadeOut();
		});
	<% end %>
 });
</script>
